@font-face {
  font-family: 'Hittite';
  src: url('https://cdn.jsdelivr.net/gh/scillidan/fonts@hittite@20030705/fonts/hittite/hittite.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}