@font-face {
  font-family: 'Smiley Sans';
  src: url('https://cdn.jsdelivr.net/gh/scillidan/fonts@smiley-sans@2.0.1/fonts/smiley-sans/smiley-sans-oblique.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}