@font-face {
    font-family: 'Noticia';
    src: url('src/noticia-text-regular/noticia-text-regular.woff2') format('woff2'),
        url('src/noticia-text-regular/noticia-text-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}