@font-face {
	font-family: "Averia Libre";
	src: url("src/averialibre/averialibre-regular.woff2") format("woff2"), url("src/averialibre/averialibre-regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}