@font-face {
    font-family: "Fusion Kai G";
    src:
        url("src/fusion-kai/fusion-kai-g-regular.woff2") format("woff2"),
        url("src/fusion-kai/fusion-kai-g-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}