@font-face {
    font-family: 'Fusion Kai G';
    src: url('src/fusionkaig/FusionKaiG-Regular.woff2') format('woff2'),
         url('src/fusionkaig/FusionKaiG-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}