@font-face {
    font-family: 'lxgwwenkaigbscreen';
    src: url('src/lxgwwenkaigbscreen/lxgwwenkaigbscreen.woff2') format('woff2'),
        url('src/lxgwwenkaigbscreen/lxgwwenkaigbscreen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}