@font-face {
    font-family: 'LXGW WenKai GB';
    src:
        url('src/lxgw-wenkai-gb/lxgw-wenkai-gb-300-normal.woff') format('woff2'),
        url('src/lxgw-wenkai-gb/lxgw-wenkai-gb-300-normal.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LXGW WenKai GB';
    src:
        url('src/lxgw-wenkai-gb/lxgw-wenkai-gb-400-normal.woff') format('woff2'),
        url('src/lxgw-wenkai-gb/lxgw-wenkai-gb-400-normal.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LXGW WenKai GB';
    src:
        url('src/lxgw-wenkai-gb/lxgw-wenkai-gb-700-normal.woff') format('woff2'),
        url('src/lxgw-wenkai-gb/lxgw-wenkai-gb-700-normal.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}