@font-face {
    font-family: 'LXGW WenKai Mono GB';
    src:
        url('src/lxgw-wenkai-mono-gb/LXGWWenKaiMonoGB-Light.woff') format('woff2'),
        url('src/lxgw-wenkai-mono-gb/LXGWWenKaiMonoGB-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LXGW WenKai Mono GB';
    src:
        url('src/lxgw-wenkai-mono-gb/LXGWWenKaiMonoGB-Regular.woff') format('woff2'),
        url('src/lxgw-wenkai-mono-gb/LXGWWenKaiMonoGB-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LXGW WenKai Mono GB';
    src:
        url('src/lxgw-wenkai-mono-gb/LXGWWenKaiMonoGB-Medium.woff') format('woff2'),
        url('src/lxgw-wenkai-mono-gb/LXGWWenKaiMonoGB-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}