@font-face {
  font-family: 'lxgwwenkaigbscreen';
  src: url("/fonts/lxgwwenkaigbscreen/lxgwwenkaigbscreen.eot");
  src: url("/fonts/lxgwwenkaigbscreen/lxgwwenkaigbscreen.eot?#iefix") format("embedded-opentype"), url("/fonts/lxgwwenkaigbscreen/lxgwwenkaigbscreen.woff") format("woff"), url("/fonts/lxgwwenkaigbscreen/lxgwwenkaigbscreen.ttf") format("truetype"), url("/fonts/lxgwwenkaigbscreen/lxgwwenkaigbscreen.svg#lxgwwenkaigbscreen") format("svg");
  font-weight: normal;
  font-style: normal;
}