@font-face {
	font-family: "Montserrat";
	src: url("src/montserrat/montserrat-regular.woff2") format("woff2"), url("src/montserrat/montserrat-regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}